<div class="container mt-4">
    <h1>Edit Blog Post</h1>
    <form action="/dashboard/update/{{post.id}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="3" required>{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Post</button>
    </form>
</div>

<script src="/js/editBlogPost.js"></script>


{{!-- <h1>test</h1> --}}