<H1 class="text-center m-2"><strong>Coming Soon!</strong></H1>
<p class="text-center">About me</p>
<p class="text-center">Search</p>
<p class="text-center">Account Access</p>
<p class="text-center">Direct Messaging</p>
<h3 class="text-center">Sign up and stay tuned</h3>